In [1]:
#Level 3

In [31]:
#Importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import re

In [3]:
#Reading the dataset
df = pd.read_csv("Dataset .csv")
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [4]:
#Getting more information regarding the dataset
df.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [5]:
#Checking for null values
df.isna().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [6]:
#Task 1:- Restaurant Reviews

#Analyze the text reviews to identify the most common positive and negative keywords.

#Calculate the average length of reviews and explore if there is a relationship between review length and rating.

In [37]:
#Analyze the text reviews to identify the most common positive and negative keywords.

# Function to tokenize text into words
def tokenize_text(text):
    # Split text into words using regex 
    return re.findall(r'\w+', text.lower())

# Defining positive and negative keywords
positive_keywords = ['good', 'very good', 'great', 'excellent', 'awesome', 'delicious', 'tasty', 'fantastic']
negative_keywords = ['bad', 'poor', 'terrible', 'awful', 'disappointing', 'horrible', 'disgusting']

# Counter objects to store counts of positive and negative keywords
positive_counts = Counter()
negative_counts = Counter()

# Iterating over text reviews and count occurrences of positive and negative keywords
for review in df['Rating text']:
    words = tokenize_text(review)
    for word in words:
        if word in positive_keywords:
            positive_counts[word] += 1
        elif word in negative_keywords:
            negative_counts[word] += 1

# Getting the most common positive and negative keywords
most_common_positive = positive_counts.most_common()
most_common_negative = negative_counts.most_common()

print("Most common positive keywords:")
print(most_common_positive)

print("\nMost common negative keywords:")
print(most_common_negative)

Most common positive keywords:
[('good', 3179), ('excellent', 301)]

Most common negative keywords:
[('poor', 186)]

In [40]:
#Calculate the average length of reviews and explore if there is a relationship between review length and rating.
# Calculating the length of each review
df['Review Length'] = df['Rating text'].str.len()

# Calculating the average length of reviews
average_review_length = df['Review Length'].mean()
print("Average length of reviews:", average_review_length)

# Grouping the data by rating and calculate the average review length for each rating category
average_length_by_rating = df.groupby('Aggregate rating')['Review Length'].mean()
print("\nAverage review length by rating:")
print(average_length_by_rating)

# Analyze if there's a relationship between review length and rating
correlation = df['Aggregate rating'].corr(df['Review Length'])
print("\nCorrelation between review length and rating:", correlation)

# Checking the correalation between review length and rating
if correlation >= 0.5 and correlation <= 1:
    print("There is a strong positive coorelation between review length and rating")
elif correlation <= -0.5 and correlation >= -1:
    print("There is a strong negative coorelation between review length and rating")
else:
    print("There is no linear coorelation between review length and rating")

Average length of reviews: 7.020730813527379

Average review length by rating:
Aggregate rating
0.0    9.0
1.8    4.0
1.9    4.0
2.0    4.0
2.1    4.0
2.2    4.0
2.3    4.0
2.4    4.0
2.5    7.0
2.6    7.0
2.7    7.0
2.8    7.0
2.9    7.0
3.0    7.0
3.1    7.0
3.2    7.0
3.3    7.0
3.4    7.0
3.5    4.0
3.6    4.0
3.7    4.0
3.8    4.0
3.9    4.0
4.0    9.0
4.1    9.0
4.2    9.0
4.3    9.0
4.4    9.0
4.5    9.0
4.6    9.0
4.7    9.0
4.8    9.0
4.9    9.0
Name: Review Length, dtype: float64

Correlation between review length and rating: -0.4788848381349329
There is no linear coorelation between review length and rating

In [8]:
#Task 2:- Votes Analysis

#Identify the restaurants with the highest and lowest number of votes.

#Analyze if there is a correlation between the number of votes and the rating of a restaurant.

In [22]:
#Identify the restaurants with the highest and lowest number of votes.

# Sorting the restaurants by the number of votes in descending order
df_sorted_by_votes = df.sort_values(by='Votes', ascending=False)

# Restaurant with the highest number of votes
restaurant_highest_votes = df_sorted_by_votes.iloc[0]

# Restaurant with the lowest number of votes
restaurant_lowest_votes = df_sorted_by_votes.iloc[-1]

print("Restaurant with the highest number of votes:")
print(restaurant_highest_votes[['Restaurant Name', 'Votes']])

print("\nRestaurant with the lowest number of votes:")
print(restaurant_lowest_votes[['Restaurant Name', 'Votes']])

Restaurant with the highest number of votes:
Restaurant Name     Toit
Votes              10934
Name: 728, dtype: object

Restaurant with the lowest number of votes:
Restaurant Name    Singh Chinese Fast Food
Votes                                    0
Name: 4524, dtype: object

In [27]:
#Analyze if there is a correlation between the number of votes and the rating of a restaurant.

# Calculating the Pearson correlation coefficient between rating and number of votes
correlation = df['Aggregate rating'].corr(df['Votes'])

print("Correlation between rating and number of votes:", correlation)

# Checking the correalation between rating and number of votes
if correlation >= 0.5 and correlation <= 1:
    print("There is a strong positive coorelation between the number of votes and the rating of a restaurant")
elif correlation <= -0.5 and correlation >= -1:
    print("There is a strong negative coorelation between the number of votes and the rating of a restaurant")
else:
    print("There is no linear coorelation between the number of votes and the rating of a restaurant")

Correlation between rating and number of votes: 0.3136905841954114
There is no linear coorelation between the number of votes and the rating of a restaurant

In [24]:
#Task 3:- Price Range vs. Online Delivery and Table Booking

#Analyze if there is a relationship between the price range and the availability of online delivery and table booking.

#Determine if higher-priced restaurants are more likely to offer these services.

In [26]:
#Analyze if there is a relationship between the price range and the availability of online delivery and table booking.

# Creating a cross-tabulation of price range vs. online delivery
cross_tab_online_delivery = pd.crosstab(df['Price range'], df['Has Online delivery'], margins=True)

# Creating a cross-tabulation of price range vs. table booking
cross_tab_table_booking = pd.crosstab(df['Price range'], df['Has Table booking'], margins=True)

print("Cross-tabulation of price range vs. online delivery:")
print(cross_tab_online_delivery)

print("\nCross-tabulation of price range vs. table booking:")
print(cross_tab_table_booking)

Cross-tabulation of price range vs. online delivery:
Has Online delivery    No   Yes   All
Price range
1                    3743   701  4444
2                    1827  1286  3113
3                     997   411  1408
4                     533    53   586
All                  7100  2451  9551

Cross-tabulation of price range vs. table booking:
Has Table booking    No   Yes   All
Price range
1                  4443     1  4444
2                  2874   239  3113
3                   764   644  1408
4                   312   274   586
All                8393  1158  9551

In [ ]:
#We can observe the following relationships between price range and the availability of online delivery as well as table booking:

#Price Range vs. Online Delivery:

#Higher price range restaurants tend to have a higher proportion of online delivery available.
#As the price range increases, the number of restaurants offering online delivery decreases, except for price range 4 where the number is significantly lower compared to price range 3.
#The majority of restaurants in price range 1 and 2 offer online delivery, while fewer restaurants in price ranges 3 and 4 offer this service.

#Price Range vs. Table Booking:

#Price range 1 restaurants almost universally do not offer table booking, with only one exception.
#There's a clear trend where higher price range restaurants are more likely to offer table booking.
#Price ranges 3 and 4 have a similar proportion of restaurants offering table booking, but the total number of restaurants in price range 4 is significantly lower.

#These observations suggest that there is indeed a relationship between price range and the availability of online delivery as well as table booking. Higher-end restaurants (higher price range) tend to offer more amenities such as online delivery and table booking compared to lower-end restaurants.

In [30]:
#Determine if higher-priced restaurants are more likely to offer these services.

# Calculating the proportion of restaurants offering online delivery within each price range
online_delivery_proportion = cross_tab_online_delivery.div(cross_tab_online_delivery['All'], axis=0)
print("Proportion of restaurants offering online delivery within each price range:")
print(online_delivery_proportion)

# Calculating the proportion of restaurants offering table booking within each price range
table_booking_proportion = cross_tab_table_booking.div(cross_tab_table_booking['All'], axis=0)
print("\nProportion of restaurants offering table booking within each price range:")
print(table_booking_proportion)

Proportion of restaurants offering online delivery within each price range:
Has Online delivery        No       Yes  All
Price range
1                    0.842259  0.157741  1.0
2                    0.586894  0.413106  1.0
3                    0.708097  0.291903  1.0
4                    0.909556  0.090444  1.0
All                  0.743378  0.256622  1.0

Proportion of restaurants offering table booking within each price range:
Has Table booking        No       Yes  All
Price range
1                  0.999775  0.000225  1.0
2                  0.923225  0.076775  1.0
3                  0.542614  0.457386  1.0
4                  0.532423  0.467577  1.0
All                0.878756  0.121244  1.0

In [29]:
#We can observe the following trends:

#Online Delivery:

#In price range 1, the majority of restaurants (84.23%) do not offer online delivery, while in higher price ranges, the proportion of restaurants offering online delivery decreases. Only around 9% of restaurants in price range 4 offer online delivery.
#There is a clear trend where higher-priced restaurants are less likely to offer online delivery.

#Table Booking:

#Price range 1 restaurants almost universally do not offer table booking, with only a negligible proportion offering this service.
#Higher-priced restaurants (price ranges 3 and 4) are more likely to offer table booking compared to lower-priced restaurants (price ranges 1 and 2). Over 45% of restaurants in price range 3 and 4 offer table booking.
#However, there's a slight decrease in the proportion of restaurants offering table booking from price range 2 to price range 4.

#These observations indicate that higher-priced restaurants are indeed more likely to offer table booking services, while they are less likely to offer online delivery services compared to lower-priced restaurants.